<main class="main-container">    
    <div class="banner"><!-- banner -->
        <div class="cape"></div><!-- protector -->
        <div class="info">
            <h1 class="title">Nosotros</h1>
            <p class="text">
                Somos una empresa especilizada en la producción de huevos de gallina, el alimento #1 de consumo por sus proteinas y nutrientes. Esforzándonos por mantener a nuestros clientes con productos de la mejor calidad en el mercado.
            </p>
        </div>
    </div>
    <!-- *************linea del tiempo**************** -->
    <div class="time-line"><!-- grid -->
        <div class="time-line-item">
            <div class="image">
                imagen
            </div>
            <h3 class="subtitle">fecha</h3>
            <p class="text-time">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam incidunt dignissimos nisi harum similique modi. Sapiente beatae molestiae id obcaecati eveniet, laborum officia deserunt fuga dolorem sint quae corrupti enim.</p>
        </div>
        <div class="time-line-item">
            <div class="image">
                imagen
            </div>
            <h3 class="subtitle">fecha</h3>
            <p class="text-time">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam incidunt dignissimos nisi harum similique modi. Sapiente beatae molestiae id obcaecati eveniet, laborum officia deserunt fuga dolorem sint quae corrupti enim.</p>
        </div>
        <div class="time-line-item">
            <div class="image">
                imagen
            </div>
            <h3 class="subtitle">fecha</h3>
            <p class="text-time">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam incidunt dignissimos nisi harum similique modi. Sapiente beatae molestiae id obcaecati eveniet, laborum officia deserunt fuga dolorem sint quae corrupti enim.</p>
        </div>
    </div>
    <!-- **************mision vision************ -->
    <div class="mision-vision">
        <div class="mision-vision-item">
            <h3 class="subtitle">Misión</h3>
            <p class="text-time">
                Producir huevos de la mas alta calidad de estándares y abastecer el mercado nacional. Generando a su vez empleos diretos a la comunidad, personas capacitadas en el tema avícola que puedan brindarnos sus concejos y ayuda para siempre estar mejorando.
            </p>
        </div>
        <div class="mision-vision-item">
            <h3 class="subtitle">Visión</h3>
            <p class="text-time">
                Llegar a posicionarnos en el mercado como una empresa líder en la producción de huevos en el mercado nacional basándonos en los principios y valores que nos identifican.
            </p>
        </div>
    </div>
    <!-- *************valoresV2********* -->
    <div class="valoresV2">
        <div class="container-title-valoresV2">
            <h3 class="title-valoresV2">Valores Corporativos</h3>
            <h4 class="subtitle-valorV2"(mouseover)="oversubValorV2(0)">Responsabilidad</h4>
            <h4 class="subtitle-valorV2"(mouseover)="oversubValorV2(1)">Honestidad</h4>
            <h4 class="subtitle-valorV2"(mouseover)="oversubValorV2(2)">Pasión</h4>

        </div>
        <div class="container-title-valoresV2">
            <article class="texto-valoresV2">Somos una empresa con el principal valor de abastecer a nuestros clientes con nuestros productos en el momento establecido. Lo cual es lo que fomenta la mejor alianza entre nosotros y nuestros clientes.</article>
            <article class="texto-valoresV2">Brindar un producto competitivo, basándonos en los márgenes del valor a como esté en el mercado. De esta amnera nos centramos en que exista una relación comercial leal entre nosotros y nuestros clientes.</article>
            <article class="texto-valoresV2">Buscamos como empresa que nuestro personal de trabajo que es el principal valor que tenemos se apasione por todas las funciones que realizan, así como nosotros lo estamos. Que cada trabajo se haga con el mayor esmero y dedicación para que nuestros productos sean de la mejor calidad.</article>

        </div>
    </div>

    <!-- *************valores********* -->
    <!-- <div class="valores">
        <h3 class="title-valores">Valores Corporativos</h3>
        <div class="valores-item">
            <div class="container-valores">
                <div class="circle">
                    <h4 class="valor-title">Responsabilidad</h4>
                    <p class="text-valores">
                            Somos una empresa con el principal valor de abastecer a nuestros clientes con nuestros productos en el momento establecido. Lo cual es lo que fomenta la mejor alianza entre nosotros y nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="container-valores">
                <div class="circle">
                    <h4 class="valor-title">Honestidad</h4>
                    <p class="text-valores">
                    Brindar un producto competitivo, basándonos en los márgenes del valor a como esté en el mercado. De esta amnera nos centramos en que exista una relación comercial leal entre nosotros y nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="container-valores">
                <div class="circle">
                    <h4 class="valor-title">Pasión</h4>
                    <p class="text-valores">
                    Buscamos como empresa que nuestro personal de trabajo que es el principal valor que tenemos se apasione por todas las funciones que realizan, así como nosotros lo estamos. Que cada trabajo se haga con el mayor esmero y dedicación para que nuestros productos sean de la mejor calidad.
                     </p>
                </div>
            </div>
        </div>
    </div> -->
</main>
