<main class="infrastructure"><!-- principal -->
    <div class="infrastructure-item"><!-- contenedor de columnas -->
        <div class="infra-grid"><!-- 1er columna, imagenes -->
            <div class="indra-grid-item"  (mouseover)="imgOver(0)" (click)="imgOver(0)">
                image1
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(1)" (click)="imgOver(1)">
                imagen2
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(2)" (click)="imgOver(2)">
                imagen3
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(3)" (click)="imgOver(3)">
                imagen4
            </div>
        </div>
        <div class="infra-grid"><!-- 2nd columna -->
            <div class="show-img">imagen1</div>
            <div class="show-img">imagen2</div>
            <div class="show-img">imagen3</div>
            <div class="show-img">imagen4</div>
        </div>
        <div class="infra-grid"><!-- 3er columna -->
            <p class="show-text">texto1</p>
            <p class="show-text">texto2</p>
            <p class="show-text">texto3</p>
            <p class="show-text">texto4</p>
        </div>
    </div>
</main>