<main class="infrastructure"><!-- principal -->
    <div class="infrastructure-item"><!-- contenedor de columnas -->
        <div class="infra-grid"><!-- 1er columna, imagenes -->
            <div class="indra-grid-item"  (mouseover)="imgOver(0,'black','blue')" (click)="imgOver(0,'black','blue')">
                image1
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(1,'blue','pink')" (click)="imgOver(1,'blue','pink')">
                imagen2
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(2,'pink','yellow')" (click)="imgOver(2,'pink','yellow')">
                imagen3
            </div>
            <div class="indra-grid-item"  (mouseover)="imgOver(3,'yellow','black')" (click)="imgOver(3,'yellow','black')">
                imagen4
            </div>
        </div>
        <div class="infra-grid" id="infraId"><!-- 2nd columna -->
            <div class="show-img">imagen1</div>
            <div class="show-img">imagen2</div>
            <div class="show-img">imagen3</div>
            <div class="show-img">imagen4</div>
        </div>
        <div class="infra-grid" id="infraId2"><!-- 3er columna -->
            <p class="show-text">texto1</p>
            <p class="show-text">texto2</p>
            <p class="show-text">texto3</p>
            <p class="show-text">texto4</p>
        </div>
    </div>
</main>